
.keyboard {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    @media (min-width: $md) {
        display: none;
    }
}
.simple-keyboard {

}

.icon-keyboard {
    width: 2.4rem;
    height: auto;
    margin: 0.25rem;
}

.toggle-keyboard {
    display: flex;
    align-items: center;
    gap: 1ch;
    font-size: 14px;
    font-weight: bold;
}