---
permalink: /are/you/sleep/golfing/index.html
---

{% set isDark = true %}

{% extends "layouts/base.html" %}

{% css %}
.ruffle-container p {
    max-width: 60vw;
    font-size: 0.8rem;
}
.ruffle-container p > a {
    text-decoration: underline;
    color: var(--highlight) !important;
}
.ruffle-container p > a:hover {
    filter: url(#noise);
    animation: .3s linear forwards noise infinite;
}
.ruffle-container p > a:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
}
{% endcss %}

{% block content %}
<div class="flex items-start justify-end flex-col h-full">
    <div class="text-right ruffle-container">
        <p class="text m-2 mb-4"><a href="main.html" target="_blank">are you sleep golfing? >></a></p>
    </div>
</div>
{% endblock %}