---
permalink: /are/you/sleep/golfing/texts.html
---

{% extends "layouts/basic.html" %}

{% block content %}
&text1=You will be presented with several situations during this test and will be asked to make an X on the lifeline on the blackboard in the corresponding position between Love and Fear.

Click on the screen to continue.

&text2=Lifeline Exercise #1

Juanita has an important math test today. She has known about it for several weeks, but has not studied. In order to keep from failing he class, Juanita decides that she will cheat on the math test.

Please make your mark on the Lifeline.

&text3=Lifeline Exercise #2

Ling Ling finds a wallet on the ground filled with money. She takes the wallet to the address on the driverÕs license, but keeps the money inside the wallet.

Please make your mark on the Lifeline.

&text4=well, life isn't that simple, i mean - who cares if Ling Ling returns the wallet and keeps the money. it has nothing to do with either fear or love. there are other things which need to be taken into account here, like.... the whole spectrum of human emotion. 
you can't just lump everything into these 2 categories and then just deny everything else ....

&text5=<<
/@X
<$%<
8$@%/
<@@@$g<
@@$$G8
<$$B3%%^                              <<--<C<
 03$%/:/                            /B$$@@@g3
 <8$BC(3C<                       ~ Xg0<    .VC
  %B$gCGX3                      (^C$$~      /
  <$B$G30<                      C$@@B
  /$B$$%$~/                    03$g0
  X$$B$8$%                     g$G8(
  (gGB$0$0                   ^80C30
   8%$$88<                 <V$@@8<
    gBB/G                 ^gB@@$^
    <08%0                 V%$GV
     VCV88              ^gG%g0
    ^X(((C%V<::%.   <<XGgB$$%<
  ^g3CCXC(VB0g$$B$@@$3.%3$$/
</03  ^<V%Vg$$$@@@$$G(B8%$C
(%B3  ^^ `<%$$$$$$B$0<V$3(3/
<GB3^` <<`^^<VB$$$$B0g0gC83/`
GVV^   `(^  <<%$$$$GGg$$VV^`^
gVC^`  .://^^(~^(gBV30G8B0/  (
(/V^.<   (VV8G%/:^V%C0000BBG  (
VV3(.^  ~~<XXXC33((/8$0B0V0%  /
3333.`.^X/<G0B0B08g$$$gB0`<`  /
<C3G3(/3C%G8GgB0GBB$$0G$$BC   ^/
g%3gGVV( `<GB$$8/8%$@$$@$$BG^^/<
0GG0/`VX  <(3%G< /8$@@$08X^BX^((
GG8GVX//(XCC3C~.3gg$%388/<0G~3
83%B$BgG/</3GV<~C8(0gg00g0gX<<
8%C3gB8B@/<C3(<3%0(/$$$B0$$GV
(VXV3GG%X.^((~XBg@G<C%8@$%VV
(X%GV3C:.<  .`<(Gg^^< ^$$VX
<^X:((//X3/^:<^.<VC3G<%VX/g3(^(< ^
<3X((<(V/:<</%3(/3gBB@@@8838g8V~./VX<^<^
`~VCVXC3Ggg833CX%VVGC0%8(8@B$$8gB8/~^(g$B8(^.</^
^88gg0833%3G$@@$BB8g0g00088$$$0g008X<<(Vg@@0V<~^(<(^
%BBB$@@@BGGgG0@@@@@0gg0$0B8800G0g0@0%V33/(/~^`<(<//:(<
/g@@@@@@@@@@@@Bg@@@@$$00$BG8V3C/<^^^<<:(<~`.`  `~:VGV/:.
<gg@@@@@$B@$@@@@Bg@@@@@$000$BgG%333V(~..^:(~``     /%3/X:
0g8@@@@@$$80@@@@@@$$@@@$B$0BBg88GGG%%V(~ <::.`     ^/C(3<8
g000@@@@@@@@0g@@@@@$$@@@@@@@$B0gCCG%G%V/<.`<.       ~:(3((V
gg0$$@@@@@@@@$$B@@@@@@@@@@@@@B0g8GG%GGG3/^```       `.<GX/X
8gGGg$@@@@@@@@@@BB@@@@@$@@@@@@Bg0GGGGG%3V<^         ``~3X3/<
$Bg8V%0@@@@@@@@@@@$0BB$@@@@@@@@@g0g8888G%X:~`       .<^3CGC/
{% endblock %}