---
permalink: /info/playdates.html
---

{% set isDark = true %}

{% css %}
p {
    color: #A9BED4 !important;
    font-size: 14px;
}
a {
    color: #99CCFF !important;
}
{% endcss %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="h-screen flex items-center justify-center">
    <div class="stack overflow-y-auto p-4" style="height: 600px; max-height: 600px;">
<p class="text-sm"><span class="font-bold"><a href="/info/index.html" class="text-xs">back</a></span></p>
<p class="text-base"><span class="font-bold text-white">Showing from 26 October 2001</span><br>
  </p>
<p><span class="font-bold">NEW 
  YORK</span><br>
  Empire 25<br>
  Village East<br>
  Chelsea 9<br>
  First and 62nd<br>
  Cinemas 86 east</p>
<p><span class="font-bold">LOS 
  ANGELES</span><br>
  Media Ctr 8<br>
  Sunset V<br>
  Manhattan Village<br>
  Winnetka or Fashion Cntr<br>
  Universal City<br>
  Rialto/Pasadena</p>
<p><span class="font-bold">CHICAGO</span><br>
  Century Centre/Chicago<br>
  Century Cin 6/Evanston<br>
  Cantera/Warrenville<br>
  Barrington 30/Barrington<br>
  Lincolnshire/Lincolnshire<br>
  Gurnee/Gurnee<br>
  Orland Sq./Orland Park<br>
  Crestwood/Crestwood<br>
  Woodridge/Woodridge</p>
<p><span class="font-bold">SF-OAKLAND-SAN 
  JOSE</span><br>
  Lumiere/San Francisco<br>
  Embarcadero/San Francisco<br>
  Shattuck/Berkeley<br>
  Towne/San Jose<br>
  Lakeside/Santa Rosa<br>
  Nickelodeon/Santa Cruz</p>
<p><span class="font-bold">WASHINGTON, 
  DC</span><br>
  Janus/DC<br>
  Ballston Commons/Arlington<br>
  Countryside 20/Sterling</p>
<p><span class="font-bold">DALLAS 
  / FT. WORTH</span><br>
  Angelika/Dallas<br>
  Galaxy/Dallas<br>
  McArthur/Irving<br>
  Movies 15/Grand Prairie<br>
  Legacy/Plano<br>
  Hulen/Ft Worth<br>
  Grapevine/Ft Worth <br>
  Mesquite/Mesquite</p>
<p><span class="font-bold">SEATTLE</span><br>
  Uptown/Seattle<br>
  Metro/Seattle<br>
  City Center/Vancouver<br>
  Bella Botega/Redmond<br>
  Parkway Pza/Tukvila</p>
<p><span class="font-bold">BALTIMORE</span><br>
  Rio/Gaithersburg</p>
<p><span class="font-bold">SAN 
  DIEGO</span><br>
  Hillcrest/San Diego<br>
  La Jolla Village/La Jolla</p>
<p><span class="font-bold">PORTLAND</span><br>
  Fox/Portland<br>
  </p>
<p>City 
  Center/Vancouver  </p>
    </div>
</div>
{% endblock %}