---
permalink: testrig.html
---

{% set isDark = true %}

{% css %}
{% endcss %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="flex items-start justify-end flex-col h-full">
    <div id="swf" class="ruffle-container"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
window.RufflePlayer = window.RufflePlayer || {};
window.RufflePlayer.config = {
    logLevel: "error"
};
console.table(window.RufflePlayer.config);
window.addEventListener("load", (event) => {
    const ruffle = window.RufflePlayer.newest();
    const player = ruffle.createPlayer();
    const container = document.getElementById("swf");
    container.appendChild(player);
    player.load({
        url: "/are/you/sleep/golfing/license.swf", 
        parameters: "", 
    });
    player.style.width = "800px"; 
    player.style.height = "500px";
});
</script>
{% endblock %}