---
permalink: /news/middlesex_times.html
---

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% css %}

{% endcss %}

{% block content %}
<div class="h-screen flex items-center justify-center">
  <div>
    <p> &gt;&gt; view newspaper 
      article <a href="newspaper1.htm">Jet Engine </a><br>
      &gt;&gt; view newspaper article <a href="newspaper2.htm">Jim Cunningham</a></p>
    <p>&nbsp;</p>
    <p>both articles are presented 
      as transcript on the ficticious website of the Middlesex Times<br>
      this will enable us to use the site both for archived footage as well as up 
      to date news we may want to have online.</p>
    </div>
</div>
{% endblock %}