---
permalink: /news/newspaper4.htm
---

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% css %}
{% endcss %}

{% block content %}
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody><tr> 
      <td>
        <object>
            <embed src="/news/files/top.swf" width="700" height="157" />
        </object>
      </td>
    </tr>
    <tr>
      <td>
        <table width="700" border="0" cellspacing="0" cellpadding="0" align="left">
          <tbody><tr> 
            <td valign="top"> 
                <object>
                    <embed src="/news/files/side.swf" width="164" height="800" />
                </object>
            </td>
            <td valign="top"> 
              <table border="0" cellspacing="0" cellpadding="10" align="left">
                <tbody><tr> 
                    <td valign="top"> 
                      <p>Transcript from the Middlesex Times-Dispatch <b>December 
                        29, 1988</b><span><br>
                        <span>Article ID 2356367,1988,35,13,0128</span></span></p>
                      <table width="240" border="0" cellspacing="0" cellpadding="5" align="right" bgcolor="#D5D5D5">
                        <tbody><tr> 
                          <td> <span><img src="/news/files/images/roberta.jpg" width="160" height="400" border="0"></span></td>
                        </tr>
                        <tr> 
                          <td> 
                            <p><span color="#000000">Roberta Ann Sparrow<span><br>
                              </span></span><span color="#000000">Photo: 
                              William &amp; Mary University Archive</span></p>
                          </td>
                        </tr>
                      </tbody></table>
                      <p><b><span>OBITUARIES</span></b></p>
                      <p>&nbsp;</p>
                      <p><span>SPARROW, ROBERTA ANN (1887-1988)</span><br>
                      </p>
                      <p>&nbsp;</p>
                      <p>Passed away at the age of 101 in her home on December 25, 
                        1988.</p>
                      <p> A long time Middlesex, VA resident, she was born and raised 
                        in Culpeper County, and attended William &amp; Mary University 
                        in the graduating class of 1909. <br>
                        She entered the sisterhood of the Saint John's Catholic church 
                        in Alexandria in 1910.</p>
                      <p><br>
                        In 1944, she published her first book, entitled the "Philosophy 
                        Of Time Travel", soon after leaving the church for a 
                        career in education.<br>
                        <br>
                        Sparrow taught science at the Middlesex Ridge School for 33 
                        years before her retirement in 1977.<br>
                      </p>
                      <p>She never married, and is not survived by any known relatives. 
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top"> 
                      <table width="240" border="0" cellspacing="0" cellpadding="5" align="right" bgcolor="#D5D5D5">
                        <tbody><tr> 
                          <td><img src="/news/files/images/sarahWalters.jpg" width="190" height="212"></td>
                        </tr>
                        <tr> 
                          <td> 
                            <p><span color="#000000">Sarah Walters<span><br>
                              </span></span><span color="#000000">Photo: 
                              Walters Family</span></p>
                          </td>
                        </tr>
                      </tbody></table>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <p><span>WALTERS, SARAH (1908-1988)</span><br>
                      </p>
                      <p>&nbsp; </p>
                      <p>&nbsp;</p>
                      <p>Passed away at the age of 79 in Middlesex St.Mary's Hospital 
                        on December 25, 1988.</p>
                      <p> She was born Sarah Pemberton and raised in Middlesex.<br>
                        After attending Middlesex Ridge School, she worked in the 
                        local Library of Springfield until she got married in 1929 
                        to Henry J. Walters III. who passed away in 1982.</p>
                      <p>She is survived by her three children, Emma, Laura and John 
                        and 5 grandchildren.</p>
                      </td>
                  </tr>
                </tbody>
              </table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </tbody>
</table>
<div class="p-2 flex justify-center	w-full"><img src="/news/files/banners/indepth_468x60_1.gif" width="468" height="60"></div>
{% endblock %}