---
permalink: /news/newspaper3.htm
---

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% css %}
{% endcss %}

{% block content %}
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody><tr> 
      <td>
        <object>
            <embed src="/news/files/top.swf" width="700" height="157" />
        </object>
      </td>
    </tr>
    <tr>
      <td>
        <table width="700" border="0" cellspacing="0" cellpadding="0" align="left">
          <tbody><tr> 
            <td valign="top"> 
                <object>
                    <embed src="/news/files/side.swf" width="164" height="800" />
                </object>
            </td>
            <td valign="top"> 
              <table border="0" cellspacing="0" cellpadding="10" align="left">
                <tbody><tr> 
                    <td valign="top"> 
                        <p>From the Middlesex Times-Dispatch <b>August 13, 1999</b><span><br>
                          <span>Article ID 254367,1999,15,32,0087</span></span></p>
                        <p><span><b>LOCAL 
                          TEACHER KILLED</b></span><br>
                          <span>by Samantha Rosenthal</span></p>
                        <p><span>(MIDDLESEX)</span></p>
                        <table width="240" border="0" cellspacing="0" cellpadding="5" align="right" bgcolor="#D5D5D5">
                          <tbody><tr> 
                            <td> <span><img src="/news/files/images/monitoff02_small.jpg" width="234" height="350" border="0"></span></td>
                          </tr>
                          <tr> 
                            <td> 
                              <table width="30" border="0" cellspacing="0" cellpadding="4" align="right" bgcolor="#FFFFFF">
                                <tbody><tr> 
                                  <td><img src="/news/files/images/magnifier.gif" width="31" height="20"></td>
                                </tr>
                              </tbody></table>
                              <p><span color="#000000">Dr.Kenneth Monnitoff<span><br>
                                </span></span><span color="#000000">Photo: 
                                Karen Pomeroy Monnitoff</span></p>
                            </td>
                          </tr>
                        </tbody></table>
                        <p>A physics teacher from the prestigious Middlesex Ridge School 
                          was killed yesterday evening in a hit and run accident. Dr. 
                          Kenneth Monnitoff, 41, was driving his Volvo station wagon 
                          down Old Gun Road when he was side-swiped and driven off the 
                          road by an oncoming driver, colliding with a tree.</p>
                        <p><br>
                          Authorities have been unable to locate the assailant, who 
                          eye-witnesses report was driving a black sedan.<br>
                          Monnitoff, a beloved figure in the community, graduated from 
                          MIT in 1980. After a brief career working for NASA in their 
                          Norfolk facility, he began to work with the CIA in Washington.<br>
                          In the late eighties he left his government job and began 
                          his teaching career. </p>
                        <p><br>
                          He is survived by his wife, Karen Pomeroy Monnitoff, an English 
                          professor at UVA, and their two children, Alice (7) and Mary 
                          (4).</p>
                        <p><br>
                          Funeral services are expected to be announced shortly. </p>
                        </td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
</tbody></table>
<div class="p-2 flex justify-center	w-full"><img src="/news/files/banners/indepth_468x60_1.gif" width="468" height="60"></div>
{% endblock %}