---
permalink: /news/newspaper7.htm
---

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% css %}
{% endcss %}

{% block content %}
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody><tr>
      <td>
        <object>
            <embed src="/news/files/top.swf" width="700" height="157" />
        </object>
      </td>
    </tr>
    <tr>
      <td>
        <table width="700" border="0" cellspacing="0" cellpadding="0" align="left">
          <tbody><tr>
            <td valign="top">
                <object>
                    <embed src="/news/files/side.swf" width="164" height="800" />
                </object>
            </td>
            <td valign="top">
              <table border="0" cellspacing="0" cellpadding="10" align="left">
                <tbody><tr>
                    <td valign="top">
                      <p>
                        Transcript from the Middlesex Times-Dispatch <b>October 6, 1988</b>
                        <br><span class="text-xs">Article ID 2356371,1988,40,06,0102</span><br>
                      </p>
                      <table class="image" width="220" border="0" cellspacing="0" cellpadding="5" align="right" bgcolor="#D5D5D5">
                        <tbody><tr>
                          <td> <span><img src="/news/files/images/donnie.jpg" width="190" border="0" alt="Donald J. Darko"></span></td>
                        </tr>
                        <tr>
                          <td>
                            <p><span color="#000000">Donald J. Darko<span><br>
                              </span></span><span color="#000000">Photo:
                              Middlesex Ridge School, 1988</span></p>
                          </td>
                        </tr>
                      </tbody></table>
                      <p>
                      <br><b>OBITUARIES</b>
                      <br><br>DARKO, DONALD J. (1972-1988)
                      <br><br>Died in his sleep in the early morning hours of October 2,
                        at his family's home on Powderham Drive, in the Sarasota Heights
                        subdivision of Middlesex, when the engine of an aircraft detached
                        and fell through the roof of the residence. He was sixteen.<br><br>
                        Investigators from the Federal Aviation Administration have so far
                        been unable to match the engine to any registered aircraft. No
                        carrier has reported a loss. The FAA has declined further comment,
                        citing an open investigation.<br><br>
                        A junior at Middlesex Ridge School, Donald is remembered by
                        classmates as quiet and sharp-witted, and by his teachers as a
                        student given to questions they could not always answer.<br><br>
                        He is survived by his parents, Edward and Rose Darko, and his
                        sisters Elizabeth and Samantha.<br><br>
                        A neighbor, Roberta Sparrow, 101, a retired Middlesex Ridge
                        science teacher, when reached for comment, said only: "Every
                        living creature on earth dies alone."</p>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top">
                      <table class="image" border="0" cellspacing="0" cellpadding="5" align="right" bgcolor="#D5D5D5">
                        <tbody><tr>
                          <td><img src="/images/level4/still-jet-engine.jpeg" width="190" border="0" alt="The engine, Powderham Drive"></td>
                        </tr>
                        <tr>
                          <td>
                            <p><span color="#000000">The engine, Powderham Drive<span><br>
                              </span></span><span color="#000000">Photo:
                              Middlesex County Sheriff's Department</span></p>
                          </td>
                        </tr>
                      </tbody></table>
                      <p><span>FAA TEAM EXTENDS STAY IN MIDDLESEX</span><br><br>
                      The federal team investigating the October 2 incident on Powderham
                      Drive has extended its stay in Middlesex indefinitely, a spokesman
                      confirmed Wednesday. Residents report the crash site remains
                      cordoned. The origin of the engine is still unknown.</p>
                      </td>
                  </tr>
                </tbody>
              </table>
              </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </tbody>
</table>
<div class="p-2 flex justify-center	w-full"><img src="/news/files/banners/indepth_468x60_1.gif" width="468" height="60"></div>
{% endblock %}
