---
permalink: /news/newspaper2.htm
---

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% css %}
{% endcss %}

{% block content %}
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody><tr> 
      <td>
        <object>
            <embed src="/news/files/top.swf" width="700" height="157" />
        </object>
      </td>
    </tr>
    <tr>
      <td>
        <table width="700" border="0" cellspacing="0" cellpadding="0" align="left">
          <tbody><tr> 
            <td valign="top"> 
                <object>
                    <embed src="/news/files/side.swf" width="164" height="800" />
                </object>
            </td>
            <td valign="top"> 
              <table border="0" cellspacing="0" cellpadding="10" align="left">
                <tbody><tr> 
                  <td valign="top"> 
                    <p>Transcript from the Middlesex Times-Dispatch <b>October12, 
                      1988</b><span><br>
                      <span>Article ID 853287,1988,10,12,0026</span></span></p>
                    <p><span><b>JIM 
                      CUNNINGHAM FOUND DEAD</b></span><br>
                      <span>by Rachel Caufield</span></p>
                    <p><span>(MIDDLESEX)</span></p>
                    <table width="240" border="0" cellspacing="0" cellpadding="5" align="right" bgcolor="#D5D5D5">
                      <tbody><tr> 
                        <td> <span><img src="/news/files/images/love-cover.jpg" width="231" height="338" border="0"></span></td>
                      </tr>
                      <tr> 
                        <td> 
                          <table width="30" border="0" cellspacing="0" cellpadding="4" align="right" bgcolor="#FFFFFF">
                            <tbody><tr> 
                              <td><img src="/news/files/images/magnifier.gif" width="31" height="20"></td>
                            </tr>
                          </tbody></table>
                          <p><span color="#000000">Jim Cunningham on the 
                            cover of his bestseller<span> "Cunning 
                            Visions of Love"<br>
                            </span></span><span color="#000000">Photo: 
                            <a href="/CV/index.html" target="_top">Cunning Visions, 
                            Inc.</a></span></p>
                        </td>
                      </tr>
                    </tbody></table>
                    <p>Celebrity author and motivational speaker Jim Cunningham 
                      was found dead early yesterday morning on the fourteenth hole 
                      of the Sarasota Heights Country Club golf course.<br>
                      A foursome of golfers discovered Cunningham's body early in 
                      the morning. Cause of death appears to have been from a self-inflicted 
                      gunshot wound.<br>
                      Police searched Cunningham's expansive Middlesex tudor mansion 
                      for a suicide note, but were surprised to find all of his 
                      furniture and other belongings removed from the empty house.<br>
                      <br>
                      BELOVED NEWCOMER TO COMMUNITY<br>
                      <br>
                      Cunningham, 44, a popular and charismatic figure in the community, 
                      moved to Middlesex less than a year ago. His two books, "Attitudinal 
                      Beliefs" and "Cunning Visions of Love" both 
                      remain near the top of the New York Times best seller lists. 
                      <br>
                      Cynda Cunningham, his estranged ex-wife, continues to live 
                      in New York City. She could not be reached for comment. <br>
                      Linda Connie, president of Cunningham's new production company, 
                      <a href="/CV/index.html" target="_top">Cunning Visions, 
                      Inc</a>., issued the following statement.<br>
                      "We are shocked and devastated by the loss of our dear 
                      friend, Jim Cunningham. He was an example of excellence in 
                      life. His vision of love will live on for ages, and we will 
                      not allow another survivor to succumb to the path of fear."<br>
                      Connie and and several hundred other "Fear Survivors" 
                      will hold a candlelight vigil tomorow night at the Middlesex 
                      Pavillion Mall.<br>
                      "Copies of Cunningham's books will be available for purchase 
                      at a discount," said Connie. "Paperback only."</p>
                    </td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </tbody></table>
  <div class="p-2 flex justify-center	w-full"><img src="/news/files/banners/indepth_468x60_1.gif" width="468" height="60"></div>
{% endblock %}