---
permalink: /news/newspaper5.htm
---

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% css %}
{% endcss %}

{% block content %}
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody><tr> 
      <td>
        <object>
            <embed src="/news/files/top.swf" width="700" height="157" />
        </object>
      </td>
    </tr>
    <tr>
      <td>
        <table width="700" border="0" cellspacing="0" cellpadding="0" align="left">
          <tbody><tr> 
            <td valign="top"> 
                <object>
                    <embed src="/news/files/side.swf" width="164" height="800" />
                </object>
            </td>
            <td valign="top"> 
              <table border="0" cellspacing="0" cellpadding="10" align="left">
                <tbody>
                <tr> 
                    <td valign="top"> 
                        <p><span>Taken from the Middlesex Times-Dispatch (Business 
                          Section) <b>November 11, 1991</b></span><span><br>
                          <span>Article ID 853287,1988,11,11,0026</span></span></p>
                        <p><b><span><br>
                          CONNIE NAMED PRESIDENT OF CUNNING VISIONS<span><br>
                          </span></span></b><span>by 
                          Rachel Caufield</span></p>
                        <p><span>(MIDDLESEX)</span></p>
                        <table width="240" border="0" cellspacing="0" cellpadding="5" align="right" bgcolor="#D5D5D5">
                          <tbody><tr> 
                            <td><img src="/news/files/images/linda01.jpg" width="241" height="320"></td>
                          </tr>
                          <tr> 
                            <td> 
                              <table width="30" border="0" cellspacing="0" cellpadding="4" align="right" bgcolor="#FFFFFF">
                                <tbody><tr> 
                                  <td><img src="/news/files/images/magnifier.gif" width="31" height="20"></td>
                                </tr>
                              </tbody></table>
                              <p><span color="#000000">Linda Connie<span><br>
                                </span></span><span color="#000000">Photo: 
                                CunningVisions Inc.</span></p>
                            </td>
                          </tr>
                        </tbody></table>
                        <p><br>
                          Linda Connie has been named president and CEO of Cunning Visions, 
                          Inc., the self help empire started by the late Jim Cunningham, 
                          who committed suicide three years ago.<br>
                          Connie has sold Cunning Visions books, videos and other educational 
                          materials to more than six hundred schools throughout the 
                          country, as the popular author achieves even greater fame 
                          with each passing moment.<br>
                          "It really is an honor that the share-holders have elevated 
                          me to this position," said Connie, now settled comfortably 
                          in her office at the pristine new Cunning Visions headquarters 
                          in downtown Middlesex.<br>
                          Cunningham's two books, "Attitudinal Beliefs" and 
                          "Cunning Visions of Love" have sold more than four 
                          million copies each. <br>
                          "This is the nineties. A new decade is upon us and it 
                          is time to change the way people think. The fear survivors 
                          are growing in number worldwide. This is only the beginning. 
                          Jim's legacy will live on, and I am proud to perpetuate that."<br>
                          Connie has written two books on her own, "Ego Reflections" 
                          and "Love or Shove?". Both have been bestsellers.<br>
                          Connie next has her sights designed on another new frontier: 
                          the internet.<br>
                          "The internet is the future, and Cunning Visions will 
                          soon be launching its own website."<br>
                          When Connie is asked about her knack for trend-spotting, she 
                          smiles knowingly, like a woman who can't be bothered with 
                          explaining her secrets to success. <br>
                          "People ask me all the time, what is next for Linda Connie? 
                          I'll tell you this much: Linda Connie is just about to pump 
                          up the jam."<br>
                          And with that, Connie cranks up the stereo in her office, 
                          flooding the building with the sound of Technotronic's smash 
                          hit, "Pump Up The Jam". <br>
                          This is the title of Connie's new book, aimed at the teen 
                          market, scheduled for release this Christmas. Pump it up, 
                          indeed.</p>
                  </td>
                  </tr>
                </tbody>
              </table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </tbody>
</table>
<p align="center"><img src="/news/files/banners/rockyHorror_468x60_B.gif" width="468" height="60"></p>
{% endblock %}