---
permalink: /news/pop6.html
---

{% set isAlpine = true %}
{% set hasCredit = false %}

{% css %}
html body {
    background-color: #DDDDCC;
}
.iframe-modal {
    min-width: 720px;
}
{% endcss %}

{% extends "layouts/base.html" %}

{% block content %}

<div class="flex items-center justify-center h-screen">
    <p class="text-center">Close the window to continue</p>
</div>

<div x-data="{ window1Open: true, window2Open: false }">

    <!-- Modal 1 -->
    <div
        x-dialog
        x-model="window1Open"
        style="display: none"
        class="fixed inset-0 overflow-y-auto z-10"
        @x-dialog:close="window2Open = true"
    >
        <!-- Overlay -->
        <div x-dialog:overlay x-transition.opacity class="fixed inset-0 bg-black bg-opacity-50"></div>
  
        <!-- Panel -->
        <div class="relative min-h-screen flex items-center justify-center p-4">
            <div
                x-dialog:panel
                x-transition
                class="iframe-modal text-center window relative max-w-xl w-full bg-white shadow-lg overflow-y-auto"
            >
                <div class="title-bar">
                  <div class="title-bar-text"></div>
                  <div class="title-bar-controls">
                      <button aria-label="Close" @click="window1Open = false, window2Open = true"></button>
                    </div>
                </div>
  
                <!-- Body -->
                <div class="p-1">
                    The following information may give you knowledge which you may not want to have prior to seeing the movie!
                </div>
  
            </div>
        </div>
    </div>

    <div
    x-dialog
    x-model="window2Open"
    style="display: none"
    class="fixed inset-0 overflow-y-auto z-10"
    >
    <!-- Overlay -->
    <div x-dialog:overlay x-transition.opacity class="fixed inset-0 bg-black bg-opacity-50"></div>

    <!-- Panel -->
    <div class="relative min-h-screen flex items-center justify-center p-4 ">
        <div
            x-dialog:panel
            x-transition
            class="iframe-modal window relative max-w-xl w-full bg-white shadow-lg overflow-y-auto h-full"
        >
            <div class="title-bar">
                <div class="title-bar-text"></div>
                <div class="title-bar-controls">
                    <button aria-label="Close" @click="$dialog.close()"></button>
                </div>
            </div>

            <!-- Body -->
            <div class="p-1">
                <iframe src="/news/newspaper6.htm" width="100%" height="800px" frameborder="0" scrolling="yes"></iframe>
            </div>

        </div>
    </div>
    </div>

</div>



{% endblock %}

{% block scripts %}
{% endblock %}