---
permalink: /missing/are/you/sleep/golfing/5.html
---

{% set isDark = true %}

{% css %}
.aspect-ratio {
    position: relative;
}
.window {
    width: 219px;
    height: 236px;
    position: absolute;
    right: 20%;
    bottom: 20%;
}
.window div {
    position: relative;
}
form {
    position: absolute;
    width: 115px;
    height: 22px;
    bottom: 28px;
    left: 48px;
}
form input {
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    width: 100%;
    height: 22px;
}
form input[type="password"] {
    color: black;
}
{% endcss %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="flex items-end h-full">
    <div class="aspect-ratio">
        <img class="" src="/images/missing/level2/sleepgolfing-bg-2.jpg">
        <div class="window">
            <div>
                <img src="/images/missing/level2/sleepgolfing-pop-up.jpg">
                <form method="GET" onsubmit="return checkPassword()" method="POST" action="/missing/are/you/sleep/golfing/6.html" novalidate>
                    <label for="password" class="visually-hidden">Enter password:</label>
                    <input type="password" id="password" name="password">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/scripts/missing.js"></script>
<script>
    function checkPassword() {
        
        //If the use hits the return key disable the form submission
        if (event.keyCode == 13) {
            event.preventDefault();
        }

        var password = document.getElementById("password").value;
        if (password === "ling ling") {
            return true;
        } else {
            alert("Incorrect. Please try again.");
            return false;
        }
    }
    </script>
{% endblock %}