@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Using Tailwind CSS as Token manager
*/

/* .content-area {
    height: calc(100vh - theme(spacing.12));
}

@screen md {
    .content-area {
        height: calc(100vh - theme(spacing.16));
    }
}

@screen lg {
    .content-area {
        height: calc(100vh - theme(spacing.20));
    }
} */

/* object.aspect-ratio {
    width: 100vw;
    @screen lg {
        width: 60vw;
    }
} */