---
permalink: /aid/aid1.html
---


{% css %}
{% endcss %}

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% block content %}

<div class="scrollable-frames mt-5">
  <div class="frames p-2">
    <div class="frame">
      <img class="frame__image mb-2" src="/images/aid/no1.jpg" width="216" height="126">
      <p class="frame__content">
        <span>1.</span> 
        click on bullseye
      </p>
    </div>
    <div class="frame">
      <img class="frame__image mb-2" src="/images/aid/no1b.jpg" width="216" height="127">
      <p class="frame__content">
        <span>2.</span> 
        click on <b>proceed</b>
      </p>
    </div>
    <div class="frame">
      <img class="frame__image mb-2" src="/images/aid/no1c.jpg" width="144" height="155">
      <p class="frame__content">
        <span>3.</span> 
        if you want to cheat: pop-up w. will ask for password = <span color="#3300CC">breathe</span> 
      / if not <b>proceed</b>...
      </p>
    </div>
    <div class="frame">
      <img class="frame__image mb-2" src="/images/aid/no1d.jpg" width="216" height="129">
      <p class="frame__content">
        <span>4.</span> 
        (screen will forward automatically)
      </p>
    </div>
    <div class="frame">
      <img class="frame__image mb-2" src="/images/aid/no2a.jpg" width="216" height="127">
      <p class="frame__content">
        <span>5.</span> 
        detention center report on DARKO, DONALD J. [D.O.B. 5-28-27] - asks "C:&gt;MORE?(Y/N)_" 
      <b>type Y</b>, (N doesn't work/go anywhere). This brings you to the police 
      report, asks (Y/N) again, <b>type Y</b>. ....... <a href="aid2.html">go to 
      next section</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}