---
permalink: /aid/aid2.html
---

{% css %}
{% endcss %}

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="scrollable-frames mt-5">
<div class="frames p-2">
<div class="frame">
  <img class="frame__image mb-2" src="/images/aid/no2c.jpg" width="252" height="150">
  <p class="frame__content">
    <span>6.</span> 
    click on <b>o</b> circle level one (is active)
  </p>
</div>
<div class="frame">
  <img class="frame__image mb-2" src="/images/aid/l21.jpg" width="216" height="127">
  <p class="frame__content">
    <span>7.</span> 
    ("things aren't that simple")
    <b>click</b> on <b>o</b> circle, (she died alone)
  </p>
</div>
<div class="frame">
  <img class="frame__image mb-2" src="/images/aid/l21pop1.jpg" width="216" height="136">
  <p class="frame__content">
    <span>8.</span> 
    Middlesex Times Dispatch article/obituary on Roberta Sparrow.
  </p>
</div>
<div class="frame">
  <img class="frame__image mb-2" src="/images/aid/l21pop.jpg" width="216" height="132">
  <p class="frame__content">
    <span>8a.</span> 
    If you <b>click on</b> any other part of the Times website - archives, yellow 
        pages, maps, etc - leads to a <b>File Not Found</b> page. Click on webmaster 
        link &amp; the screen changes to ascii Frank, ("why 
        are you wearing that stupid man-suit?")
  </p>
</div>
<div class="frame">
  <img class="frame__image mb-2" src="/images/aid/l21pop2.jpg" width="216" height="132">
  <p class="frame__content">
    <span>9</span> 
      (close popup #8 window) <b>click</b> on second <span><b><span color="#CC0033">o</span></b></span> 
      circle, (let no one know i gave you this). Leads to another popup - Middlesex 
      Times Dispatch article/obituary on Dr. Kenneth Monnitoff</span><span face="Arial">. 
      (close window)....... <a href="aid3.html">go to next section</a></span>
  </p>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}