---
permalink: /aid/aid6.html
---

{% css %}
{% endcss %}

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="scrollable-frames mt-5">
<div class="frames p-2">
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/lev2h.jpg" width="216" height="128">
    <p class="frame__content">
      <span>26.</span> 
      screen becomes donnie's confrontation with his teacher - click on tv frank - ascii bunny overlaps donnie. click on tv frank again.
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/lev2j.jpg" width="216" height="128">
    <p class="frame__content">
      <span>27.</span> 
      frank popups fill the screen, and spell "WAKE UP DONNIE". click inside one of the windows. screen forwards...
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/lev2k.jpg" width="216" height="127">
    <p class="frame__content">
      <span>28.</span> 
      back to the golfcourse. letters ask "do you think he was sleepgolfing?" click on donnie.
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/lev2l.jpg" width="216" height="127">
    <p class="frame__content">
      <span>29.</span> 
      animation of donnie waking up. click on white arrow. popup asks "who found the wallet?" enter ling ling / or not. (from what i can tell the screen leads to the same/next page automatically even if you don't enter the password).
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/lev2o.jpg" width="216" height="127">
    <p class="frame__content">
      <span>30.</span> 
      sidewalk screen - ("i've been waiting for you"). click on o dot - a popup of donnie looking at jim's wallet appears. click inside popup.
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/lev2p.jpg" width="216" height="126">
    <p class="frame__content">
      <span>31.</span> 
      red lines remain - click on the blinking red dot at the tip of the longest line. this leads to a popup article on Cunning Visions. ..... <a href="aid7.html">go to next section</a>
    </p>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}