---
permalink: /aid/aid8.html
---

{% css %}
{% endcss %}

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="scrollable-frames mt-5">
<div class="frames p-2">
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/lev2h.jpg" width="216" height="128">
    <p class="frame__content">
      <span>37.</span> 
      At main menu - click on <b><span color="#FF0000">o</span></b>
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/l3pw.jpg" width="144" height="157">
    <p class="frame__content">
      <span>38.</span> 
      Popup w. - "The password for Level three is the name of the street he lives in... like the flower." Password = <span color="#6600FF">rose</span>.
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/level3.jpg" width="216" height="127">
    <p class="frame__content">
      <span>39.</span> 
      They made me do it!/from the sky section - click on the location (middlesex).
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/level3a.jpg" width="216" height="126">
    <p class="frame__content">
      <span>40.</span> 
      Popup of chandelier - click inside popup. javascript spoiler warning/article on missing plane's engine popup appear. (close article window.) ....... <a href="aid9.html">go to next section</a>
    </p>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}