---
permalink: /aid/aid9.html
---

{% css %}
{% endcss %}

{% set hasCredit = false %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="scrollable-frames mt-5">
<div class="frames p-2">
  <div class="frame">
    <img class="frame__image" src="/images/aid/level3b.jpg" width="216" height="126">
    <p class="frame__content">
      <span>41.</span> 
      <span face="Arial" color="#FF0033">click</span> on the telephone symbol inside the chandelier popup. faa info appears - <span face="Arial" color="#FF0033">click</span> on "launch the document" at the bottom. <span color="#CC3300">(if this doesn't work/doesn't show up, reload the page.)</span>
    </p>
  </div>
  <div class="frame">
    <img class="frame__image" src="/images/aid/level3d.jpg" width="216" height="126">
    <p class="frame__content">
      <span>42.</span> 
      <span face="Arial">engine phone conversation/ transcript.</span><span> after this the screen automatically changes to...</span>
    </p>
  </div>
  <div class="frame">
    <img class="frame__image" src="/images/aid/level3e.jpg" width="216" height="127">
    <p class="frame__content">
      <span>43.</span> 
      <span face="Arial" color="#FF0033">time is up, donnie. /// fin. kaput. done. the end.</span> (<span>...is that all there is, is that all there is... if that's all there is my friends, then let's keep dancing. let's break out the...</span> - that is to say i think that's all there is.)
    </p>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}