---
permalink: /sparkle/motion/main.html
---

{% set isDark = true %}

{% extends "layouts/base.html" %}

{% css %}
html body {
    background-color: #333333 !important;
    background: linear-gradient(to top, #000000 0%, #000000 var(--gradient-height-min, 250px), #333333 var(--gradient-height-max, 500px), #333333 100%) !important;
}
{% endcss %}

{% block content %}
<div class="flex items-end justify-end h-full">
  <object class="aspect-ratio" id="gradient">
    <embed src="/sparkle/motion/phase2_end.swf" width="800" height="500">
  </object>  
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {
  ddScripts.setGradientHeight('gradient', '0.5');
});
</script>
{% endblock %}