---
permalink: '../../vendor/tokens.css'
---
:root {
  {%- for color in tokens.colorMap %}
  --color-{{ color.name }}: {{ color.color }};
  {%- endfor %}
  {%- for space in tokens.spacing %}
  --space-{{ space.name }}: {{ space.value }};
  {%- endfor %} 
  {%- for font in tokens.fontsizes %}
  --font-size-{{ font.name }}: {{ font.value }};
  {%- endfor %} 
}