---
permalink: /pop/pop_level2.html
---

{% extends "layouts/base.html" %}

{% css %}
html body {
    background-image: url("{{ "/" | url }}images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
{% endcss %}

{% block content %}
<div class="flex items-end justify-end h-full">
  <div class="window m-56">
    <div class="title-bar">
      <div class="title-bar-text"></div>
      <div class="title-bar-controls">
          <button aria-label="Close" @click="$dialog.close()"></button>
        </div>
    </div>
    <object>
        <embed src="/pop/pass2.swf" width="400" height="400">
    </object>  
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}